<h2>Heading 2</h2>

<p><img alt="A dock with stairs descending into a blue lake with mountains in the background" data-entity-type="file" data-entity-uuid="04d0346a-8727-46fe-8d71-106b0ed42460" src="https://imagizer.imageshack.com/v2/280x200q90/633/IrnrEI.jpg" class="align-right" />Paragraph Text:&nbsp; &nbsp;Lorem ipsum dolor sit amet, reque option partiendo te sea, ei vim nullam dictas voluptaria, ea vis laudem commodo. Nisl labores id <a href="#" title="example">a text link</a>&nbsp;invenire, vim ut harum integre partiendo. Vis cu omnes alterum, tritani albucius oportere has cu, sit option partiendo interpretaris te. Diam iusto phaedrum ut sit.</p>

<p>Mel in quis definitionem. Eos no veri erat mucius, nisl lorem est an. Ad qui tacimates adolescens. Epicurei deseruisse an nam. Brute graecis ceteros his in, cu malorum persius qui. (Right Aligned Image)</p>

<p><figure role="group" class="align-left"><img alt="A frosty waterfall in Iceland" data-entity-type="file" data-entity-uuid="4408ece9-bca9-4ad4-87b2-2c297710eef8" src="https://imagizer.imageshack.com/v2/280x200q90/540/AuJqq5.jpg"><figcaption>An Iceland Waterfall</figcaption></figure> (A Left aligned image)&nbsp;Saepe accumsan complectitur nec eu, has omnesque voluptatibus in, sit ex putant commodo. Nam theophrastus vituperatoribus an, sea in veniam adipiscing, his ex tamquam nostrud inimicus. His numquam feugiat an, modus consul utamur ut vix. Sea id omnesque consulatu. Ad sit autem fabellas hendrerit, ut simul dolore eam.</p>

<p style="clear: both">Text with a carriage return / line break<br />
(This text was put directly beneath by pressing SHIFT + ENTER/RETURN)</p>

<p>&nbsp;</p>

<h3>Heading 3</h3>

<h4>Heading 4</h4>

<h5>Heading 5</h5>

<h6>Heading 6</h6>

<p>Bullet List</p>

<ul>
	<li>Item
	<ul>
		<li>Sub Item</li>
	</ul>
	</li>
	<li>Item</li>
	<li>Item</li>
</ul>

<p>Ordered List</p>

<ol>
	<li>Item</li>
	<li>Item</li>
	<li>Item</li>
</ol>

<h2>Notes on SEO and ADA compliance (Heading 2)</h2>

<p>The following should be considered when creating any web content using the text editor.</p>

<p>All images should have “Alternative Text” - Should be a description of the image.<br />
&nbsp; &nbsp;Ex. “A child putting pegs in the Lite Brite” or “Shopping Cart Icon”</p>

<p>Do not use the Underline button<br />
&nbsp; &nbsp;Use bold or italic instead, underline should be reserved for links only</p>

<p>Make sure your heading structure is in sequence<br />
Should be:</p>

<ul>
	<li>Heading 1</li>
	<li>Heading 2</li>
	<li>Heading 3</li>
	<li>Etc..</li>
</ul>

<p>And not</p>

<ul>
	<li>Heading 2</li>
	<li>Heading 4</li>
	<li>Etc…</li>
</ul>

<p>By default each page's title will be in Heading 1 style; so, start at Heading 2 and reframe from using Heading 1.</p>

<p>Do not use “Click Here” or “Read More” links.&nbsp;Be descriptive.<br />
&nbsp; &nbsp;For Example:<br />
&nbsp; &nbsp; &nbsp;<a href="#" title="Example Link">Click here to register for our event</a><br />
&nbsp; &nbsp;Change to:<br />
&nbsp; &nbsp; &nbsp;<a href="#" title="Example">Register for our event</a></p>

<p>To check if a page is ADA compliant,</p>

<p>Go to: &nbsp;<a href="http://wave.webaim.org/report" target="_blank">wave.webaim.org/report</a><br />
Enter the URL of the page you want to test<br />
Click the little flag on the left to get details about issues</p>

<p>Things to look at in detail:</p>

<p><em>Errors</em><br />
&nbsp; &nbsp; These should be 0. &nbsp;Most of these are simple things like missing “Alternative Text” or empty Headings</p>

<p><em>Warnings</em><br />
&nbsp; &nbsp; These are more common, and it’s unlikely that you can correct them all. &nbsp;The common issues here are warnings against “Click Here” links and out of order Headings.<br />
&nbsp; &nbsp; Warnings that can be ignored are “Redundant links”, &nbsp;PDF, and iFrame warnings</p>
